<form action="/create" method="POST">
<h2>Добавить Влада</h2>



 <div class="input-field col s6">
          <input type="text" name="title" placeholder="че делаем? ">
    <label> </label>
</div>

<button type="submit" class="btn">Добавить</button>
</form>